@using Proyecto_Desarrollo_Web.Models.ViewModel;
@model RecoveryPasswordVm
@{
    ViewData["Title"] = "Recovery";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@if (!string.IsNullOrEmpty(@ViewBag.Error))
{
    <div class="@ViewBag.ClaseMensaje" role="alert" id="success-alert">
        <strong> @ViewBag.Error</strong>
    </div>
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Recovery.css" />
</head>
<div class="main">
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <form method="post" asp-action="Recovery">

                @Html.HiddenFor(d=>d.token)
                <label class="Title">Escribe tu nueva contraseña</label>
                @Html.PasswordFor(d=>d.Password,new{@class="form-control"})

                <label class="Title">Ingresa nuevamente tu contraseña</label>
                @Html.PasswordFor(d=>d.Password2,new{@class="form-control"})
                <br />
                 <div class="text-left">
                    <button type="submit" class="boton">Recuperar</button>
                 </div>
            </form>
        </div>
    </div>
</div>

